{% extends "base.html" %}
{% block heading %}Create Post{% endblock %}
{% block error %}
	{% if error != None %}
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error: </span>
		<span>{{error}}</span>
	</div>
	{% endif %}
{% endblock %}
{% block content %}
	<div class="row">
		<form action="/createpost" method="post" id="newpost-form" class="col-xs-12">
			<label for="title">Title:</label>
			<input type="text" name="title" value="{{title}}">
			<label for="body">Body:</label>
			<textarea name="body">{{body}}</textarea>
			<button type="submit" class="btn btn-large">Submit Post</button>
		</form>
	</div>
{% endblock %}
