{% extends "base.html" %}
{% block heading %}Edit Comment{% endblock %}
{% block error %}
	{% if error != None %}
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error: </span>
		<span>{{error}}</span>
	</div>
	{% endif %}
{% endblock %}
{% block content %}
	<div class="row">
		<form action="/editcomment/{{slug}}/{{cid}}" method="post" id="editcomment-form" class="col-xs-12">
			<label for="body">Comment:</label>
			<textarea name="body">{{body}}</textarea>
			<button type="submit" class="btn btn-large">Submit Comment</button>
		</form>
	</div>
{% endblock %}
