{% extends "base.html" %}
{% block heading %}Edit Comment{% endblock %}
{% block error %}
	<div class="alert alert-danger{% if error == None %} hidden{% endif %}" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error: </span>
		<span class="error-msg">{{error}}</span>
	</div>
{% endblock %}
{% block content %}
	<div class="row">
		<form action="/comment/edit/{{slug}}/{{cid}}" method="post" id="editcomment-form" class="col-xs-12">
			<label for="body">Comment:</label>
			<textarea name="body">{{body}}</textarea>
			<button class="btn btn-large" id="cancel">Cancel</button>
			<button type="submit" class="btn btn-large">Submit Comment</button>
		</form>
		<script>
			$("#cancel").click(function() {
				location.href = "/post/view/{{slug}}";
			});
		</script>
	</div>
{% endblock %}
