{% extends "base.html" %}
{% block heading %}Sign Up{% endblock %}
{% block error %}
	{% if error != None %}
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error: </span>
		<span>{{error}}</span>
	</div>
	{% endif %}
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			Already a user? <a href="/signin">Sign In!</a>
		</div>
	</div>
	<div class="row">
		<form action="/signup" method="post" id="newuser-form" class="col-xs-12">
			<label for="username">Username:</label>
			<input type="text" name="username" value="{{username}}">
			<label for="email">Email:</label>
			<input type="text" name="email" value="{{email}}">
			<label for="name">Full Name:</label>
			<input type="text" name="name" value="{{name}}">
			<label for="password">Password:</label>
			<input type="password" name="password" value="{{password}}">
			<button type="submit" class="btn btn-large">Submit Post</button>
		</form>
	</div>
{% endblock %}
