{% extends "base.html" %}
{% block heading %}Sign Up{% endblock %}
{% block error %}
	<div class="alert alert-danger{% if error == None %} hidden{% endif %}" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error: </span>
		<span class="error-msg">{{error}}</span>
	</div>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-12">
			Already a user? <a href="/signin">Sign In!</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form action="/signup" method="post" id="newuser-form" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-offset-1 col-sm-2 control-label" for="username">Username:</label>
					<div class="col-sm-6">
						<input type="text" name="username" value="{{username}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-offset-1 col-sm-2 control-label" for="email">Email:</label>
					<div class="col-sm-6">
						<input type="text" name="email" value="{{email}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-offset-1 col-sm-2 control-label" for="name">Full Name:</label>
					<div class="col-sm-6">
						<input type="text" name="name" value="{{name}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-offset-1 col-sm-2 control-label" for="password">Password:</label>
					<div class="col-sm-6">
						<input type="password" name="password" value="{{password}}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<button type="submit" class="btn btn-large">Sign Up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
