{% extends "base.html" %}
{% block heading %}View Post{% endblock %}
{% block error %}
	<div class="alert alert-danger{% if error == None %} hidden{% endif %}" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error: </span>
		<span class="error-msg">{{error}}</span>
	</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <h3>{{post.title}}</h3>
	</div>
	<div class="col-md-4">
		<div class="like-container pull-right">
			<button class="{% if liked %}liked {% endif %}btn btn-small like" id="likebutton"><span id="likes" class="likes">{{numlikes}}</span> - Like</button>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
		<div class="post-body">{{post.body}}</div>
		<hr>
	</div>
</div>
{% if currentuser == post.author %}
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<button class="btn btn-large btn-info" id="edit-post">Edit Post</button>
		<button class="btn btn-large btn-danger" id="delete-post">Delete Post</button>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<hr>
		<h4>Comments</h4>
		{% for comment in comments %}
			<div class="row">
				<div class="col-md-12">
					<hr>
					<p class="comment-body">{{comment.body}}</p>
				</div>
				<div class="col-md-12 comment-meta">
					<span class="author">{{comment.author}}</span>
					<span class="timestamp"> | {{comment.created.strftime('%m/%d/%Y - %H:%M')}}</span>
				</div>
				{% if comment.author == currentuser %}
				<div class="col-md-12">
					<hr>
					<button class="btn btn-large btn-info edit-comment" data-id="{{comment.key().id()}}">Edit Comment</button>
					<button class="btn btn-large btn-danger delete-comment" data-id="{{comment.key().id()}}">Delete Comment</button>
				</div>
				{% endif %}
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-12">
				<hr>
				<form action="/comment/create" method="POST">
					<input type="hidden" name="post-id" value="{{slug}}">
					<textarea class="comment-box" name="comment"></textarea>
					<button type="submit" class="btn btn-large" id="comment-submit">Submit Comment</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$('#likebutton').click(function(){
		$.post({url: "/post/like/{{slug}}"}).done(function(data){
			if (data.result == "liked")
				$('#likebutton').addClass("liked")
			else if (data.result == "unliked")
				$('#likebutton').removeClass("liked")
			if (data.numlikes >= 0)
				$('#likes').html(data.numlikes)

			if (data.error) {
				if (data.error === "Not logged in") {
					location.href = "/signin"
				} else {
					$(".error-msg").html(data.error)
					$(".alert").removeClass('hidden')
				}
			} else {
				$(".alert").addClass('hidden')
			}
		})
	});

	$('#edit-post').click(function() {
		location.href = "/post/edit/{{slug}}"
	});

	$('#delete-post').click(function() {
		$("<form action='/post/delete/{{slug}}' method='POST'></form>").submit();
	});

	$('.edit-comment').click(function() {
		location.href = '/comment/edit/{{slug}}/' + $(this).attr('data-id')
	});

	$('.delete-comment').click(function() {
		$("<form action='/comment/delete/{{slug}}/" + $(this).attr('data-id') + "' method='POST'></form>").submit()
	});
</script>
{% endblock %}
