{% extends "base.html" %}
{% block heading %}View Post{% endblock %}
{% block error %}
	<div class="alert alert-danger{% if error == None %} hidden{% endif %}" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error: </span>
		<span class="error-msg">{{error}}</span>
	</div>
{% endblock %}
{% block content %}
	<div class="row">
    <div class="col-xs-12">
      <h3>{{post.title}} - <span id="likes" class="likes">{{numlikes}}</span>
				<button class="btn btn-small{% if liked %} liked{% endif %}" id="likebutton">Like</button>
			</h3>
      <p>{{post.body}}</p>
    </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4>Comments</h4>
			{% for comment in comments %}
				<div class="row">
					<div class="col-xs-12">
						<p class="comment-body">{{comment.body}}</p>
						<span class="author">{{comment.author}}</span>
						<span class="timestamp">{{comment.created}}</span>
						{% if comment.author == currentuser %}
							{{comment.key().id()}}
						{% endif %}
					</div>
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-xs-12">
					<form action="/comment/create" method="POST">
						<input type="hidden" name="post-id" value="{{slug}}">
						<textarea class="comment-box" name="comment"></textarea>
						<button type="submit" class="btn btn-large" id="comment-submit">Submit Comment</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#likebutton').click(function(){
			$.post({url: "/post/like/{{slug}}"}).done(function(data){
				if (data.result == "liked")
					$('#likebutton').addClass("liked")
				else if (data.result == "unliked")
					$('#likebutton').removeClass("liked")
				if (data.numlikes >= 0)
					$('#likes').html(data.numlikes)

				if (data.error) {
					$(".error-msg").html(data.error)
					$(".alert").removeClass('hidden')
				} else {
					$(".alert").addClass('hidden')
				}
			})
		});
	</script>
{% endblock %}
